<a href="https://colab.research.google.com/github/arun6263980730/arun6263980730/blob/main/arun2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv('/content/titanic-training-data (1).csv')

In [5]:
df.shape

(891, 12)

In [6]:
df.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**creating plots**

In [ ]:
sns.countplot(x='Survived',data=df)

In [ ]:
sns.countplot(x='Sex',data=df)

In [ ]:
sns.countplot(x='Cabin',data=df)

In [ ]:
sns.countplot(x='Ticket',data=df)

In [ ]:
sns.countplot(x='SibSp',data=df)

In [ ]:
plt.figure(figsize=(10,10))
sns.countplot(x='Age',data=df)

In [ ]:
sns.countplot(x='Fare',data=df)

In [ ]:
sns.displot(df['Age'])
plt.show()

In [ ]:
sns.boxplot(df['Age'])
plt.show()

In [ ]:
sns.boxplot( df["Age"])
plt.title("This is box")
plt.xlabel("numbers")
plt.ylabel("siblings")
plt.show()

In [ ]:
sns.violinplot(x="Age",hue="Sex",data=df)

In [ ]:
sns.violinplot(x="Sex",y="Age",hue="Embarked",data=df)
plt.show()

In [ ]:
sns.boxplot(df['Age'])
plt.show()

In [41]:
q1= df["Age"].quantile(0.25)
q3= df['Age'].quantile(0.75)
iqr= q3-q1

In [44]:
lower_threshold = q1-1.5*iqr
upper_threshold = q3-1.5*iqr
lower_threshold

-6.6875

In [45]:
upper_threshold

11.1875

In [ ]:
df= df[['Age']] >=lower_threshold

In [51]:
df= df[['Age']] <=upper_threshold

In [ ]:
sns.boxplot(df['Age'])
plt.show

In [ ]:
df = df.drop(colomn= ['PassengerId','Ticket','Fare','Name',"Cabin"],axis=1)
sns.pairplot(df,hue="Survived")